/* PRE FOOTER */
.preFooter {
	background: #f2f8ff;
	width: 100%;
	max-height: 273px;
	text-align: center;
}

.preFooter .content {
	max-width: 540px;
	margin: auto;
	padding-top: 32px;
	padding-bottom: 32px;
}

.preFooterIcon {
	font-size: 63.59px;
} 

@media screen and (max-width: 425px) {
	.preFooter {
		padding: 32px 40px;
	}

	.preFooter .content a {
		font-size: 0.875rem;
		text-decoration: underline;
		text-underline-offset: 2px;
	}
}